USE [master]
GO
/****** Object:  Database [bdVeiculo]    Script Date: 06/06/2014 11:40:51 ******/
CREATE DATABASE [bdVeiculo] ON  PRIMARY 
( NAME = N'bdVeiculo', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\bdVeiculo.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'bdVeiculo_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\bdVeiculo_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [bdVeiculo].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [bdVeiculo]
GO
/****** Object:  Table [dbo].[tblVeiculo]    Script Date: 06/06/2014 11:40:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblVeiculo](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[modelo] [nvarchar](50) NULL,
	[ano] [int] NULL,
	[preco] [float] NULL,
	[idMarca] [int] NULL,
 CONSTRAINT [PK_tblVeiculo] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblMarca]    Script Date: 06/06/2014 11:40:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblMarca](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[marca] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
