<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SistemaPatrimonio.Properties.Settings.patrimonioConnectionString"
            connectionString="server=localhost;User Id=root;database=patrimonio"
            providerName="MySql.Data.MySqlClient" />
        <add name="SistemaPatrimonio.Properties.Settings.patrimonioConnectionString1"
            connectionString="server=localhost;User Id=root;password=eu;Persist Security Info=True;database=patrimonio"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>